# Mobile Tools for Java (J2ME) #
################################
.mtj.tmp/

# Package Files #
#################
*.jar
*.war
*.ear

# Generated build directories #
###############################
.gradle/
build
bin
out

# IDE files and directories #
#############################
.settings/
.classpath
.project
.idea
*.impl
*.ipr
*.iws
/.nb-gradle/

# JVM crash logs #
##################
hs_err_pid*

